@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
$main-title: "Montserrat";
$big-title:500;
$regular-title:400;

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
$main-title: "Cabin";
$big-title:500;
$regular-title:400;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
$thin:200;
$text-bold:600;
$text-light:"Poppins";
